.workItem {
    border: 0.5px dashed grey;
    float: left;
    overflow: hidden;
    padding: 4px;
    padding-top: 6px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 5px;
}
.small {
    width: 30%;
    height:50mm;
    font-size: 1.25em;
}
.large {
    width: 47%;
    height:85mm;
    font-size: 2.0em;
    text-overflow: clip;
}
.large .title {
    font-size: 1.8em;
    line-height: 1.15em;
}
.truncate {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-parent-title {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
div.parent {
    padding: 5px;
    border: 1px dashed grey;
    color: darkslategrey;
    font-size: 0.8em;
    background-color: ghostwhite;
    height: 27%;
    overflow:hidden;
}
div.type {
    float: left;
}
div.id {
    float:right; 
}
div.title {
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
}
div#config {
    display: none;
}
.user-story {
    border-left: 4px solid #4C61FE;
}
.user-story .type, .user-story .id {
    color: #4C61FE;
}
.product-backlog-item {
    border-left: 4px solid #4C61FE;
}
.product-backlog-item .type, .product-backlog-item .id {
    color: #4C61FE;
}
.task {
    border-left: 4px solid #FFD400;
}
.task .type, .task .id {
    color: #5D4E00;
}
.non-product-user-story {
    border-left: 4px solid #46237A;
}
.non-product-user-story .type, .non-product-user-story .id {
    color: #46237A;
}
.retrospective-action {
    border-left: 4px solid #3DDC97;
}
.retrospective-action .type, .retrospective-action .id {
    color: #3DDC97;
}
.bug {
    border-left: 4px solid #FF495C;
}
.bug .type, .bug .id {
    color: #FF495C;
}
.support-request {
    border-left: 4px solid limegreen;
}
.support-request .type, .support-request .id {
    color: limegreen;
}
.development-team-user-story {
    border-left: 4px solid goldenrod;
}
.development-team-user-story .type, .development-team-user-story .id {
    color: goldenrod;
}
.continuous-improvement-actions {
    border-left: 4px solid #3DDC97;
}
.continuous-improvement-actions .type, .continuous-improvement-actions .id {
    color: #3DDC97;
}

.feature {
    border-left: 4px solid blueviolet;
}

.feature .type, .feature .id {
    color: blueviolet;
}

.spike {
    border-left: 4px solid maroon;
}

.spike .type, .spike .id {
    color: maroon;
}

.technical-support {
    border-left: 4px solid chocolate;
}

.technical-support .type, .technical-support .id {
    color: chocolate;
}

.operational-incident {
    border-left: 4px solid darkred;
}

.development-team-user-story {
    border-left: 4px solid chocolate;
}

.development-team-user-story .type, .development-team-user-story .id {
    color: chocolate;
}

.operational-incident .type, .operational-incident .id {
    color: darkred;
}
.epic {
    border-left: 4px solid teal;
}

.epic .type, .epic .id {
    color: teal;
}

.issue {
    border-left: 4px solid firebrick;
}
.issue .type, .issue .id {
    color: firebrick;
}

.spike {
    border-left: 4px solid maroon;
}

.spike .type, .spike .id {
    color: maroon;
}

span.parent-id {
    margin-right: 3px; 
    font-weight: bold;
}
html {
    line-height: normal;
}
.estimate, .assigned {
    padding: 4px;
    margin-top: 3px;
    font-size:0.9em;
}
.estimate {
    background-color: aliceblue;  
    display:inline-block;
    float:right;
}
.assigned {
    display:inline-block;
    background-color: honeydew;
    float:left;
}
