@page {
    size: A4;
    margin: 20px;
    margin: auto;
  }
  @media print {
    html, body {
      width: 210mm;
      height: 297mm;
    }
    .workItem {
        width: 67mm;
        height:49mm;
        padding: 4px;
        margin: 2px;
        float: left;
        overflow: hidden;
        padding-top: 2px;
        page-break-inside: avoid;
    }
    div.type {
        float: left;
    }
    div.id {
        float:right; 
    }
    div.title {
        clear: both;
        margin: 10px;
        padding-top: 10px;
    }
  }