body.board-cards {
    overflow: auto;
}
.workItem {
    height:170px;
}
div.type {
    float: left;
}
div.id {
    float:right; 
}
div.title {
    clear: both;
    margin: 10px;
    padding-top: 10px;
    font-size: 1.2em;
}
div#config {
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    background-color: WhiteSmoke;
}
form#form {
    padding: 20px;
    background-color: gainsboro;
    margin-top: 20px;
}
